.padma-alert{
	padding: 20px;
    color: white;
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 4%;
   	font-weight: 600;
}
.padma-alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.padma-alert .closebtn:hover {
    color: black;
}
.padma-alert.info{
	background-color: rgba(33, 150, 243, 0.9);
}
.padma-alert.danger{
	background-color: rgba(244, 67, 54, 0.9);
}
.padma-alert.warning {
    background-color: rgba(255, 152, 0, 0.8);
}
.padma-alert.success {
    background-color: rgba(76, 175, 80, 0.9);
}